@font-face{
	font-family: 'GothamPro';
	src: url('/fonts/GothamPro.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'GothamPro-Light';
	src: url('/fonts/GothamPro-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

body {font-family: 'GothamPro'; font-weight: normal; overflow-x: hidden;}
a:link {text-decoration: none;}
button {outline: none; cursor: pointer;}
button:focus, input:focus {outline: none;}
input {outline: none;}
a:link {outline: none;}
p, h1, h2, h3, h4, h5, h6 {margin: 0; font-family: 'Roboto', sans-serif; font-weight: 500;}
h3 {font-size: 30px;}
h1, h2, h3, h4, h5 {}
h1{}
.countdown-section:first-child {display: none;}
header {position: relative; z-index: 100;}
.pdg-0 {padding: 0;}
.mg-t-1 {margin-top: 1em;}
.mg-t-2 {margin-top: 2em;}
.mg-t-3 {margin-top: 3em;}
.mg-t-4 {margin-top: 4em;}
.mg-t-5 {margin-top: 5em;}
.mg-t-6 {margin-top: 6em;}
.mg-t-7 {margin-top: 7em;}
.mg-t-8 {margin-top: 8em;}
.mg-t-9 {margin-top: 9em;}
.mg-t-10 {margin-top: 10em;}
.mg-b-1 {margin-bottom: 1em;}
.mg-b-2 {margin-bottom: 2em;}
.mg-b-3 {margin-bottom: 3em;}
.mg-b-4 {margin-bottom: 4em;}
.mg-b-5 {margin-bottom: 5em;}
.mg-b-6 {margin-bottom: 6em;}
.mg-b-7 {margin-bottom: 7em;}
.mg-b-8 {margin-bottom: 8em;}
.mg-b-9 {margin-bottom: 9em;}
.mg-b-10 {margin-bottom: 10em;}
.mg-tb-1 {margin: 0 1em;}
.mg-tb-2 {margin: 0 2em;}
.mg-tb-3 {margin: 0 3em;}
.mg-tb-4 {margin: 0 4em;}
.mg-tb-5 {margin: 0 5em;}
.mg-tb-6 {margin: 0 6em;}
.mg-tb-7 {margin: 0 7em;}
.mg-tb-8 {margin: 0 8em;}
.mg-tb-9 {margin: 0 9em;}
.mg-tb-10 {margin: 0 10em;}


#b1 {padding-top: 80px;}
.bg-1 {
	background: url('/img/main/bg-b1.jpg') no-repeat top;
	background-size: cover;
}

.menu {display: flex; justify-content: space-between; margin-top: 30px; margin-bottom: 30px; }
.menu a {
	font-size: 15px;
  	color: rgb(255, 255, 255);
  	line-height: 1.2;
  	border-bottom: 2px solid transparent;
  	transition: ease-in-out .3s;
}
.menu a:hover {
	border-bottom: 2px solid #ffffff;
}
.b1-left h1 {	
  font-size: 67.307px;
  background: linear-gradient(90deg, #e1047e 0%, #7e6b9d 51%, #3bb2b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #e1047e;
  line-height: 1;
}
.b1-left p{
  font-size: 24px;
  color: rgb(255, 255, 255);
}
.b1-phone {
	display: flex;
	justify-content: flex-end;
}
.b1-phone img{
	width: 40px;
	height: 40px;
	margin-left: 10px;
}
.phone p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}
.phone {text-align: right; margin-left: 17px;}
.phone span {
  font-size: 12px;
  font-family: "GothamPro";
  color: rgb(255, 255, 255);
}
.b1-lab {
  font-size: 18px;
  color: rgb(51, 51, 51);
  line-height: 1.4;
  text-align: center;
  margin-bottom: 30px;
}
.b1-lab span {
	text-transform: uppercase;
	border-bottom: 2px solid rgb(230, 0, 126);
}
.b1-f1 {
	border-radius: 3px;
  	background-color: rgb(255, 255, 255);
  	text-align: center;
  	margin-top: 55px;
	padding: 60px 30px 30px;
}
.f-phone, .f-name {
	width: 300px;
	border: none;
	height: 50px;
	background: #efefed;
	padding-left: 20px;
	font-size: 14px;
  	color: rgb(51, 51, 51);
  	margin-bottom: 20px;
}
.btn-f1 {
  border-radius: 3px;
  background-color: rgb(230, 0, 126);
  width: 165px;
  height: 50px;
  font-size: 14px;
  font-family: "GothamPro";
  color: rgb(255, 255, 255);
  border: none;
  margin-top: 10px;
  border: 1px solid rgb(230, 0, 126);
  transition: ease-in-out .3s;
}
.main-btn:hover, .btn-f1:hover {
	color: rgb(230, 0, 126);
	background-color: transparent;
}
.b1-f1 p{
  font-size: 12px;
  color: rgb(102, 102, 102);
  line-height: 1.3;
  margin-top: 30px;
}
.logo {
	margin-top: 20px;
}
.b1-right {margin-top: 5px; margin-bottom: 60px;}

.standart-h {
  font-size: 30px;
  color: rgb(51, 51, 51);
  font-weight: 600;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}
.standart-h::before {
	content: '';
	position: absolute;
	width: 80px;
	height: 8px;
	background: url('/img/icons/wave.png') no-repeat center;
	background-size: contain;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.advantage {
	width: 222px;
}
.advantage p {
  font-size: 15px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.advantage p:nth-child(2) {
	margin: 30px 0;
	font-weight: bold;
}
.wrap-advantages {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 50px;
}
.adv-icon {
	text-align: center;
}
.wrap-b2 {margin-top: 70px;}

.wrap-shellac h1 {
  font-size: 36px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  margin-top: 110px;
}

.wrap-shellac h3 {
	font-size: 36px;
    background: -webkit-linear-gradient(left, #e1047e 43%, #7e6b9d 72%, #3bb2b3);
    background: -o-linear-gradient(left, #e1047e 43%, #7e6b9d 72%, #3bb2b3);
    background: linear-gradient(to right, #e1047e 43%, #7e6b9d 72%, #3bb2b3);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	color: #e1047e;
  	line-height: 1.2;
  	font-weight: bold;
  	text-align: center;
}
.wrap-shellac {margin-left: 90px; text-align: center;}
.main-btn {
  border-radius: 3px;
  background-color: rgb(230, 0, 126);
  height: 50px;
  padding: 0 40px;
  border: none;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  border: 1px solid rgb(230, 0, 126);
  transition: ease-in-out .3s;
}

.wrap-shellac p{
  font-size: 12px;
  color: rgb(153, 153, 153);
  line-height: 1.2;
  text-align: center;
  margin-top: 25px;
}
.shellac {background: url('/img/main/bg-shellac.jpg') no-repeat right top; margin-top: 70px; padding-bottom: 70px;}
.timer {
	margin-top: 40px;
}

.bg-pink {
	background: #f754e1;
}

.standart-h.white-txt {color: #ffffff;}

.white-txt {color: #ffffff;}
.wrap-man-ped {
	display: flex;
	position: relative;
	margin-top: 30px;
}
.wrap-man-ped::before {
	content: '';
	position: absolute;
	width: 1px;
	height: calc( 100% - 60px );
	background-color: rgb(236, 235, 233);
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}
.manikyr, .pedikyr {width: 50%; text-align: center; padding: 0 40px;}

.manikyr h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
}

.manikyr p {
	font-size: 16px;
  	color: rgb(255, 255, 255);
  	margin: 25px;
}

.bg-pink {
	padding: 70px 0 40px;
}
.btn-ped {
	border: 1px solid rgb(54, 183, 180);
  	border-radius: 3px;
  	background-color: transparent;
	width: 164px;
  	height: 54px;
  	color: #ffffff;
	font-size: 14px;
	transition: ease-in-out .3s;
}
.btn-ped:hover {
	background-color: rgb(54, 183, 180);
	color: #ffffff;
}
.gallery-1 {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.price {
	text-align: center;
	margin-top: 40px;
}
.price a{
  font-size: 14px;
  color: rgb(255, 255, 255) !important;
  border-radius: 3px;
  background-color: rgb(54, 183, 180);
  width: 247px;
  height: 50px;
  display: block;
  line-height: 3.45;
  padding-right: 20px;
  position: relative;
  margin: auto;
  cursor: pointer;
}

.price a::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border: 1px solid #ffffff;
	border-top: none;
	border-left: none;
	transform: rotate(45deg);
	right: 40px;
	top: 0;
	bottom: 5px;
	margin: auto;
}

.price p {
  font-size: 12px;
  color: rgb(250, 250, 250);
  line-height: 2;
}

.bg-paporotnik {background: url('/img/main/paporotnik.png') no-repeat left center; background-size: contain; position: absolute;width: 535px; height: 1060px;}


.gradient-h {
    font-size: 36px;
    background: -webkit-linear-gradient(left, #e1047e 43%, #7e6b9d 72%, #3bb2b3);
    background: -o-linear-gradient(left, #e1047e 43%, #7e6b9d 72%, #3bb2b3);
    background: linear-gradient(to right, #e1047e 43%, #7e6b9d 72%, #3bb2b3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e1047e;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
}
.wrap-4hands {
  text-align: center;
}

.wrap-4hands {
  margin-top: 80px;
  margin-bottom: 80px;
}
.eyelashes {
  margin-top: 80px;
}
.wrap-4hands p {
  margin-top: 35px;
}

.wrap-4hands .gradient-h {
  margin-top: 10px;
}

.bg-hands {
  background: url('/img/main/bg-hands.jpg') no-repeat right top;
  background-size: cover;
  width: 100%;
  height: 444px;
  position: absolute;
  top: 0;
  right: 0;
}

#hands {position: relative;}

.eye {
  width: 30%;
  text-align: center;
  margin-top: 35px;
  min-height: 350px;
  position: relative;

}
.eye h5 {
  font-size: 20px;
  font-family: "GothamPro";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
}

.eye p {
  font-size: 15px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.4;
}
.eye .btn-tsp {
  position: absolute;
  width: 164px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.btn-tsp {
  border-radius: 3px;
  border: 1px solid rgb(230, 0, 126);
  font-size: 14px;
  color: rgb(51, 51, 51);
  padding: 0 40px;
  background: transparent;
  line-height: 3;
  transition: ease-in-out .3s;
}
.btn-tsp:hover {
	color: #ffffff;
	background: rgb(230, 0, 126);
}
.wrap-eye {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.form-2 .btn-f1:hover {
	color: #ffffff;
}
.price.pink a{background-color: #e6007e;}
.price.pink p {color: rgb(102, 102, 102);}

.depil {
  margin: 100px 0 50px;
}
.depil-p {
  font-size: 15px;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;
}

.bg-flowers {background: url('/img/main/bg-flower.png') no-repeat left; width: 100%; height: 795px; position: absolute; top: 250px;}
.bg-flowers-1 {background: url('/img/main/bg-flower-1.png') no-repeat right; width: 100%; height: 500px;position: absolute; top: 665px;}
.bg-legs {background: url('/img/main/legs.jpg') no-repeat right; width: 100%; height: 500px; position: absolute; bottom: 0;}



.maki {
  margin-top: 80px;
  text-align: center;
}

.maki .standart-h {
  margin-bottom: 40px;
}

.maki p{
  font-size: 15px;
  color: rgb(51, 51, 51);
  text-align: center;
  max-width: 545px;
  margin: auto;
}
.maki-p p{
  margin: 30px auto;
  line-height: 1.4;
}

.maki-p-2 p{
  font-weight: bold;
  line-height: 1.8;
}
.maki-p-2 span {
  font-weight: normal;
  padding: 0 20px;
}

#maki {
  position: relative;
}


.bg-sakura {
  background: url(/img/main/sakura.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 762px;
  height: 507px;
}

.bg-woman {
  background: url(/img/main/bg-woman.jpg) no-repeat center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  width: 540px;
  height: 507px;
}


.wrap-konsul {
  max-width: 555px;
  text-align: center;
}
.standart-h-wh {
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: relative;
}

.standart-h-wh::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 8px;
  background: url('/img/icons/wave-wh.png') no-repeat center;
  background-size: contain;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
}

#konsul {background: #36b7b4; padding: 90px 0 60px; position: relative;}

.wrap-konsul p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-top: 45px;
}

.wrap-konsul h4 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 55px;
  margin-bottom: 5px;
}

.wrap-konsul .form-2 p{ 
  margin-top: 0;
  font-size: 12px;
  font-family: "GothamPro";
  color: rgba(255, 255, 255, 0.749);
  line-height: 1;
  margin-top: 5px;
}

.f2-name, .f2-phone {
  border-radius: 3px;
  background-color: rgb(239, 239, 237);
  border: none;
  width: 165px;
  height: 50px;
  font-size: 14px;
  color: rgb(51, 51, 51);
  padding-left: 20px;
  padding-right: 5px;
}
.f2-phone {margin: 0 20px;}

.bg-konsul-1 {
  background: url('/img/main/bg-konsul-1.jpg') no-repeat left top;
  background-size: cover;
  width: 100%;
  max-width: 690px;
  height: 455px;
  position: absolute;
  left: 0;
  top: 0;
}
.bg-konsul-2 {
  background: url('/img/main/bg-konsul-2.png') no-repeat left top;
  background-size: cover;
  width: 225px;
  height: 400px;
  position: absolute;
  left: 506px;
  bottom: 0;
}


#uslugi {
  background: -webkit-linear-gradient(#ffffff 6%, #ff99d5 86%);
  background: -o-linear-gradient(#ffffff 6%, #ff99d5 86%);
  background: linear-gradient(#ffffff 6%, #ff99d5 86%);
}

.usluga {
  text-align: center;
  width: 30%;

}
.usluga h5 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  margin-bottom: 25px;
}

.usluga p{
  font-size: 15px;
  color: rgb(51, 51, 51);
  margin-bottom: 15px;
}

.usluga .maki-p-2 p{
  margin-bottom: 0;
}

.usluga .btn-tsp {
  margin: 20px 0 30px;
}

.wrap-uslugi .standart-h {
  margin-bottom: 35px;
}

.uslugi {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.uslugi::before {
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% - 50%);
  background: rgb(232, 152, 199);
  left: 33%;
  top: 10%;
}
.uslugi::after {
  content: '';
  position: absolute;
  width: 1px;
  height: calc(100% - 50%);
  background: rgb(232, 152, 199);
  right: 33%;
  top: 10%;
}
.wrap-uslugi, .wrap-hair {margin-top: 70px; margin-bottom: 50px;}

.hair {
  display: flex;
  justify-content: space-around;
  padding-top: 45px;
}
.hair .usluga {
  width: 35%;
}

.usluga span:nth-child(4) {
  color: rgb(230, 0, 126);
}

#vetka {
  background: url('/img/main/vetka.png') no-repeat right center;
  background-size: contain;
  width: 431px;
  height: 674px;
  position: absolute;
  right: 0;
  top: 42%;
}
#vet {
  position: relative;
}

.hair .maki-p-2 {
	margin-top: 20px;
}
.g-item img {width: 100%;}
.g-item {
	width: 100%;
	max-width: 375px;
	height: 245px;
  overflow: hidden;
  margin-bottom: 5px;
}
.main-gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#m-gallery{overflow: hidden; position: relative;}
#maps {overflow-x: hidden;position: relative;}


.info {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
  margin: 0 30px;
  padding: 47px 44px;
  margin-bottom: 120px;
}

.info p {
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1.529;
  text-align: center;
}
.info-map {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
}

.btn-hidden {
	  border-radius: 3px;
    background-color: rgb(230, 0, 126);
    height: 50px;
    width: 295px;
    font-size: 14px;
    color: rgb(255, 255, 255) !important;
    margin-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
  	line-height: 3.4;
  	text-align: center;
  	transition: ease-in-out .3s;
  	border: 1px solid rgb(230, 0, 126);
    cursor: pointer;
}
.btn-hidden:hover {
	color: rgb(230, 0, 126) !important;
	background-color: transparent;
}
footer {
	background: #333333;
	padding: 35px 0 15px;
}

.wrap-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo-foo {max-width: 86px;}
.logo-foo img {width: 100%;}
.social {text-align: center; margin-left: 200px;}
.soc-ico a{margin: 0 8px;}
.social p{
	font-size: 15px;
	color: rgb(255, 255, 255);
}
.social p:last-child {
	color: rgb(102, 102, 102);
	font-size: 12px;
}

.price-1 p:first-child{
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	font-weight: bold;
}
.price-1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
	margin-bottom: 10px;
}
.price-1 span{
	color: #ffffff;
	font-size: 12px;
	font-weight: 400;
	display: block;
	width: 100%;
	text-align: left;
}
.price-1 p {
	line-height: 1.3;
}
.price-1 p:nth-child(2) {
	font-weight: bold;
}
.price-1 {
	max-width: 450px;
	position: relative;
}
.price-1::before {
	content: '';
	position: absolute;
	width: 100%;
	border: 0.5px dotted #ffffff;
	top: 18px;
	left: 0;
	right: 0;
	margin: auto;
}
.hidden-price {
	margin-top: 35px;
}
.pink .hidden-price p, .pink .hidden-price span, .pink .hidden-price {
  color: #333333;
}

.hidden-price {
	padding: 25px;
	display: flex;
	justify-content: space-around;
}

.navbar-brand img {max-width: 60px;}

.navbar {display: none;}

.wrap-menu {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1170px;
}
.header-fixed .wrap-menu {background-color: #ffffff; width: 100%; max-width: 100%; box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.header-fixed .menu a {color: rgb(230, 0, 126);}
.header-fixed .menu {max-width: 1170px; margin: auto; height: 50px; align-items: center; }
.header-fixed .menu a:hover {border-bottom: 2px solid rgb(230, 0, 126);}
.hidden-price {display: none;}

.wrap-pr-left {display: flex; justify-content: space-around;}

#popup .b1-f1{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pr-mh {
  width: 100%;
  background-color: #333333;
  margin-top: 25px;
}
.pr-mh h3 {
  line-height: 3;
}

.pr-mh-p {
  display: flex;
  justify-content: space-around;
}
.pr-mh-p h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 35px 0 20px;
}

.pr-mh-p p{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}
.pr-mh-p div {
  width: 50%;
  padding: 0 50px 20px;
}

.pr-left {width: 450px;}





.dva::after {
  content: '';
  position: absolute;
  left: -100px;
  top: 9px;
  width: 45px;
  height: 100%;
  background-position: 0% 0%;
  background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.8), rgba(255,255,255,.0)) no-repeat -2em 0%;
  background-size: 45px 115px;
  transform: skewX(-50deg);
  transition: 1.5s;
}


.blink_on::after {
  content: '';
  left: 500px;
  width: 564px;
  height: 100%;
  background-position: 200% 0%;
  background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.8), rgba(255,255,255,.0)) no-repeat -2em 0%;
  transform: skewX(-50deg);
  background-size: 45px 115px;
  opacity: 0;
}

.pr-mh .standart-h-wh::before {display: none;}


.dva {
  font-size: 67.307px;
  background: linear-gradient(90deg, #e1047e 0%, #7e6b9d 51%, #3bb2b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #e1047e;
  line-height: 1;
}

.dva{
  color: #F5C21B;
  background: linear-gradient(90deg, #e1047e 0%, #7e6b9d 51%, #3bb2b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 67px;
  font-weight: 900;
  position: relative;
  text-transform: uppercase;
  margin-top: 50px;
}

.dva::before{
  background-position: -180px;
  -webkit-animation: flare 5s infinite;
  -webkit-animation-timing-function: linear;
  background-image: linear-gradient(65deg, transparent 20%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.3) 27%, transparent 27%, transparent 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "ASIA BEAUTY SALON";
  color: #FFF;
  display: block;
  position: absolute;
  width: 600px;
}

.dva::after{
  content: "ASIA BEAUTY SALON";
  color: #FFF;
  display: block;
  position: absolute;
  text-shadow: 0 1px #6E4414, 0 2px #6E4414, 0 3px #6E4414, 0 4px #6E4414, 0 5px #6E4414, 0 6px #6E4414, 0 7px #6E4414, 0 8px #6E4414, 0 9px #6E4414, 0 10px #6E4414;
  top: 0;
  z-index: -1;
}

.inner-dva::after, .inner-dva::before
{
    -webkit-animation: sparkle 5s infinite;
  -webkit-animation-timing-function: linear;
  background: #FFF;
  border-radius: 100%;
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #FFF, 0 0 25px #FFF, 0 0 30px #FFF, 0 0 35px #FFF;
  content: "";
  display: block;
  height: 10px;
  opacity: 0.7;
  position: absolute;
  width: 10px;
}

.inner-dva::before
{
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  height: 7px;
  left: 0.12em;
  top: 0.8em;
  width: 7px;
}

.inner-dva::after
{
  top: 0.32em;
  right: -5px;
}

@-webkit-keyframes flare
{
  0%   { background-position: -180px; }
  50%  { background-position: 400px; }
  100% { background-position: 400px; }
}

@-webkit-keyframes sparkle
{
  0%   { opacity: 0; }
  30%  { opacity: 0; }
  40%  { opacity: 0.8; }
  60%  { opacity: 0; }
  100% { opacity: 0; }
}