.wrap-shellac h1, .wrap-shellac h3 {font-size: 24px;} .bg-paporotnik {display: none;} .manikyr, .pedikyr {width: 100%; padding: 0;}
.wrap-gal {width: 100%;} .standart-h {font-size: 24px;} .gradient-h {font-size: 24px;} .f2-name, .f2-phone {margin-top: 10px;}
.usluga {width: 100%; margin-top: 40px;} .hair .usluga {width: 100%;} .phone p {font-size: 14px;} .phone {margin-left: 0;} .b1-phone img {margin: 0 5px;}
.f-phone, .f-name {width: 100%;}